/* SideBar.css */

.sidebar {
    width: 200px;
    background-color: #2670c2; /* Dark blue background for the sidebar */
    color: #fff; /* White text color */
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
}
